{% extends 'baseLogged.html.twig' %}

{% block title %}Edition de profil{% endblock %}

{% block body %}
    <div class="profile-section eau">
        <div class="profile-img-section">
            <img class="profile-img" src="{{ asset(img) }}" alt="Symfony!"/>
        </div>

        <div class="profile-field">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            {% if  err != '' %}
                {{ err }}
            {% endif %}
        </div>
    </div>

    <div class="profile-tech">
        Techno. maîtrisée(s):
        {% for article in ownedTech %}
            <a href="{{ path('removeTech', {'slug': article.idtechno}) }}">
                {{ article.name }}
            </a>
            <br/>
        {% endfor %}
        <br/>

        Technos. disponible(s):
        {% for article in availabletech %}
            <a href="{{ path('addTech', {'slug': article.idtechno}) }}">
                {{ article.name }}
            </a>
            <br/>
        {% endfor %}
        <br/>

        Groupe(s) rejoins:
        {% for article in ownedGroupe %}
            <a href="{{ path('removeGroupe', {'slug': article.idgroupe}) }}">
                {{ article.name }}
            </a>
            <br/>
        {% endfor %}
        <br/>

        Groupe(s) disponible(s):
        {% for article in availableGroupe %}
            <a href="{{ path('addGroupe', {'slug': article.idgroupe}) }}">
                {{ article.name }}
            </a>
            <br/>
        {% endfor %}
    </div>
{% endblock %}